@import url("https://fonts.googleapis.com/css?family=Raleway:200");

.image-hover-wrapper {
  position: relative;
  top: 10%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
  font-family: "Raleway", sans-serif;
}

.image-hover-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#image-hover-c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#image-hover-c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#image-hover-c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.image-hover-container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}

.image-hover-image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

#image-hover-i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#image-hover-i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

.image-hover-story {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

#image-hover-s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#image-hover-s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

.image-hover-info {
  position: absolute;
  top: 10%;
  width: 100%;
}

h3#image-hover {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

p#image-hover {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}